<div class="row">
  <div class="col-auto">
    <h2>Report a lost pet</h2>
  </div>
</div>

<form class="newpost-form">
<div class="itemBlock">
<<<<<<< HEAD
  {{!-- <form class="user-input"> --}}
    <label for="pet-name">Pet's name:</label><span class="optionalText">*</span>
    <input type="text" id="pet-name" name="pet-name"><br><br>
  {{!-- </form> --}}
=======
<label for="pet-name">pet name:</label>
<textarea id="pet-name" name="pet-name" rows="3" cols="30"></textarea>
>>>>>>> 01d47ed303b34e242b20cb0b08df2abc4fb73d3b
</div>

<div class="itemBlock">
  {{!-- <form class="user-input"> --}}
    <label for="pet-type">Breed:</label><span class="optionalText">*</span>
    <input type="text" id="pet-type" name="pet-type"><br><br>
  {{!-- </form> --}}
</div>

<div class="itemBlock">
  <label for="description">Description:</label><span class="optionalText">*</span>
  <textarea id="description-text" name="description" rows="3" cols="30"></textarea>
</div>

<<<<<<< HEAD
<div class="itemBlock">
    <label for="image-type">Attach image:<span>*</span></label>
    <input type="text" id="image-type" name="image-type"><br><br>
</div>
=======
>>>>>>> 01d47ed303b34e242b20cb0b08df2abc4fb73d3b

<div class="itemBlock">
  {{!-- <form class="user-input"> --}}
    <label for="zip-type">Zip code:<span>*</span></label>
    <input type="text" id="zip-type" name="zip-type"><br><br>
  {{!-- </form> --}}
</div>

<div class="itemBlock">
  {{!-- <form class="user-input"> --}}
    <label for="date-type">Date last seen:<span>*</span></label>
    <input type="text" id="date-type" name="date-type"><br><br>
  {{!-- </form> --}}
</div>

<div class="itemBlock">
  {{!-- <form class="user-input"> --}}
    <label for="number-type">Contact information:<span>*</span></label>
    <input type="text" id="number-type" name="number-type"><br><br>
  {{!-- </form> --}}
</div>



<div class="submit">
  <button class="submit">Submit</button>
</div>
</form>



{{!-- <script src="./js/missingPetData.js"></script> --}}
<script src="./js/newpost.js"></script>