<form class="register-form">
  <label for="username-signup">Username:</label>
  <input type="text" id="username-signup"> <br>

    <label for="password-signup">Password:</label>
  <input type="text" id="password-signup"> <br>

  <input type="submit" value="submit">
</form>
<script scr="./js/register.js"></script>