<div>
    <p>sign up</p>
    <form class="signup-form">
        <label for="username">username</label><br>
        <input type="text" id="username-signup" name="username"><br>
        <label for="password">password</label><br>
        <input type="text" id="password-signup" name="password"><br>
        <label for="email">email</label><br>
        <input type="text" id="email-signup" name="email"><br>
        <input type="submit" value="submit">
    </form>
</div>

<script src="./js/signup.js"></script>